@model HackathonWebsite.BLL.DtoEntities.UserDtos.UserReadDto

@{
    ViewData["Title"] = "User Profile";
}

<script src="~/js/UsersFrontend.js"></script>
<script src="~/js/TaskFrontend.js"></script>

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            <h1 style="font-weight: bold; color: #333;">Welcome, @Model.Username!</h1>
            <p class="text-muted">Hackathon Teacher profile</p>
        </div>
    </div>

    <div class="mb-4">
        <a class="btn btn-outline-success" onclick="RedirectToTaskCreation()">Create New Task</a>
        <button class="btn btn-outline-danger" onclick="logout()">Log Out</button>
    </div>

    <hr/>
    <p class="text-muted">Ocenione roboty</p>
    <table class="table table-hover">
        <thead class="table-light">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Rating</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var e in Model.Tasks)
        {
            <tr>
                <td>@e.Id</td>
                <td>@e.Name</td>
                <td>@e.Rating</td>
                <td>@e.Description</td>
                <td>
                    <button type="button" class="btn btn-sm btn-outline-primary me-1" onclick="RedirectToTaskEditing(@e.Id)">Edit</button>
                    <button type="button" class="btn btn-sm btn-outline-danger" onclick="deleteTask(@e.Id)">Delete</button>
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>